<h1>Welcome to the Game Shop</h1>

<div class="boxes_big">
  <div class="boxes_small2">
  <h2>Warning Stock Level Low</h2>

    <table class="center">
      <tr>
        <th>Game</th>
        <th></th>
        <th>Platform</th>
        <th></th>
        <th>Quantity</th>
      </tr>
      <% for stock in @stocks %>
      <tr>
        <td><%= stock.game  %></a></td>
        <td>|</td>
        <td><%= stock.platform %></td>
        <td>|</td>
        <td class="<%= stock.color() %>">
                <%= stock.quantity %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>