<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/images/logo.png">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <title>Game Shop</title>
</head>
<body>
 <main>
   <nav class="menu">
     <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/publishers">Publishers</a></li>
      <li><a href="/games">Games</a></li>
     </ul>
   </nav>
   <section class="content">
   <%= yield %>
   </section>
   </main>
</body>
</html>