<h1>Games</h1>
<div class="boxes_big">
  <div class="boxes">

    <table class="center">
      <tr>
        <th>Name</th>
        <th></th>
        <th>Publisher</th>
        <th></th>
        <th>Genre</th>
      </tr>
      <% for game in @games %>
      <tr>
        <td><a href="/games/<%= game.id %>"><%= game.name  %></a></td>
        <td>|</td>
        <td><%= game.publisher %></td>
        <td>|</td>
        <td><%= game.genre %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<table class="center">
<tr><td>
<form method="get" action="/games/new">
  <input class="btn" type="submit" value="Add New Game">
<tr><td>
</form>
</table>
