<div class="boxes_big">
  <div class="boxes">
    <form method="post" action="/games">
      <label for="game-name">Name: </label>
      <input id="game-name" type="text" name="name">

      <label for="game-quantity">Quantity: </label>
      <input id="game-quantity" type="number" name="quantity">

      <label for="select-publisher">Select Publisher: </label>
      <select id="select-publisher" name="publisher_id">
        <% for publisher in @publishers %>
        <option value = "<%= publisher.id %>"><%= publisher.name %></option>
        <% end %>
      </select>

      <label for="select-genre">Select Genre: </label>
      <select id="select-genre" name="genre_id">
        <% for genre in @genres %>
        <option value = "<%= genre.id %>"><%= genre.name %></option>
        <% end %>  
      </select>

      <label for="game-cost_price">Cost Price: £</label>
      <input id="game-cost_price" type="number" name="cost_price">

      <label for="game-sell_price">Sell Price: £</label>
      <input id="game-sell_price" type="number" name="sell_price">

      <label for="game-url">Image Url: </label>
      <input id="game-url" type="text" name="url">

      <input class="btn" type="submit" value="Add Game">
    </form>
  </div>
</div>