select {
 width: 150px;
 padding: 5px 35px 5px 5px;
 margin: 15px 0;
 font-size: 0.8em;
 -webkit-appearance: scrollbarbutton-down;
 background: white;
 border: 1px solid #eee;
 display: inline-block;
} 

:focus {
  outline-color: transparent;
  outline-style: none;
}