<h1>Publishers</h1>
<div class="boxes_publishers">
  <div class="boxes">
    <table class="center">
      
      <% for publisher in @publishers %>
      <tr>
        <td><a href="/publishers/<%= publisher.id %>"><%= publisher.name %></a></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<table class="center">
  <tr>
    <td>
      <form method="get" action="/publishers/new">
        <input class="btn" type="submit" value="Add New Publisher">
      </form>
    </td>
  </tr>
</table>