<h1>Publishers</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for publisher in @publishers %>
  <tr>
    <td><a href="/publishers/<%= publisher.id %>"><%= publisher.name %></td>
  </tr>
  <% end %>
</table>

<p><a href="/publishers/new">Add New Publisher</a></p>