<form method="post" action="/publishers">

  <label for="publisher-name">Name: </label>
  <input id="publisher-name "type="text" name="name">
  
  <input type="submit" value="Add Publisher">
</form>



