<div class="boxes_big">
  <div class="boxes">

    <form method="post" action="/publishers">

      <label for="publisher-name">Name: </label>
      <input id="publisher-name" type="text" name="name">

      <label for="publisher-address">Address: </label>
      <input id="publisher-address" type="text" name="address">

      <label for="publisher-city">City: </label>
      <input id="publisher-city" type="text" name="city">

      <label for="publisher-country">Country: </label>
      <input id="publisher-country" type="text" name="country">

      <label for="publisher-post_code">Post Code: </label>
      <input id="publisher-post_code" type="text" name="post_code">

      <label for="publisher-phone">Phone: </label>
      <input id="publisher-phone" type="text" name="phone">

      <label for="publisher-website">Website: </label>
      <input id="publisher-website" type="text" name="website">

      <label for="publisher-email">Email: </label>
      <input id="publisher-email" type="text" name="email">

      <input class="btn" type="submit" value="Add Publisher">
    </form>
  </div>
</div>



